/** オクターブの高さに掛ける数 */
:root {
  --base-octave-multiply-times: 3; 
}

/** 高さ */
$base-octave-height: calc(84px * var(--base-octave-multiply-times));
$base-cell-height: calc(#{$base-octave-height} / 12);
$white-key-height: calc(#{$base-octave-height} / 7);
$black-key-height: #{$base-cell-height};
$octave-height-key-num-7: calc(#{$base-cell-height} * 7);
$octave-height-key-num-8: calc(#{$base-cell-height} * 8);


.App {
  font-family: sans-serif;
  text-align: center;
}

html, body, div#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  margin-bottom: 2px;
}

h2 {
  margin-top: 0;
}

/** コンテナ */
#container {
  /* border: 1px solid silver; */
  background-color: white;
  width: 99%;
  height: 100%;
  margin: auto;
  position: relative;
}

/** コンテナ以下すべて */
#container * {
  box-sizing: border-box;
}

/** ヘッダー */
#header {
  position: sticky;
  top: 0;
}

/** コントローラ */
.controller {
  width: 99%;
  margin-bottom: 10px;
  background-color: white;
  z-index: 100;

  /* ３等分 */
  .thirds {
    width: calc(100% / 3)
  }

  /* ４等分 */
  .quarters {
    width: 25%;
  }

  /* ６等分 */
  .six-pieces {
    width: calc(100% / 6)
  }
}

/** ピアノロール */
#piano-roll {
  display: flex;
  overflow: scroll;
  max-height: calc(100vh - 50px);
}

/** 鍵盤 */
.keyboard {
  position: sticky;
  left: 0;

  .octave {
    position: relative;

    .key {
      border: 1px solid black;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .Bb {
      top: #{$base-cell-height};
      left: 0px;
    }
    
    .Ab {
      top: calc(#{$base-cell-height} * 3);
      left: 0px;
    }
    
    .Gb {
      top: calc(#{$base-cell-height} * 5);
      left: 0px;
    }
    
    .Eb {
      top: calc(#{$base-cell-height} * 8);
      left: 0px;
    }
    
    .Db {
      top: calc(#{$base-cell-height} * 10);
      left: 0px;
    }
  }

  /** 白鍵 */
  .white {
    width: 95px;
    height: #{$white-key-height};
    background-color: white;

    &.press {
      border-top: 2px solid #696969;
      border-bottom: 2px solid #696969;
      background: linear-gradient(to top, white 88%, silver);
    }
  }

  /** 黒鍵 */
  .black {
    width: 55px;
    height: #{$black-key-height};
    background: linear-gradient(to top, #696969 40%, white);
    border-right: 5px solid #696969;

    z-index: 1;
    position: absolute;
    border: 1px solid gray;

    box-shadow: 2px 2px silver;

    &.press {
      border-top: 2px solid #696969;
      border-bottom: 2px solid #696969;
      box-shadow: 0px 0px;
      background: linear-gradient(to top, #696969 60%, white);
    }
  }

  &.oneOctave {
    /* 最高音域の C (最高音) */
    .octave:first-child .C {
      height: #{$base-cell-height};
    }
  }

  &.toyPiano {
    /* 最高音域の C (最高音) */
    .octave:first-child .C {
      height: #{$base-cell-height};
    }
    /* 最低音域の F (最低音) */
    .octave:last-child .F {
      height: calc(#{$octave-height-key-num-7} - calc(#{$white-key-height} * 3));
    }
  }

  &.keyboard76 {
    /* 最高音域 */
    .octave:first-child {
      .G {
        height: calc(#{$octave-height-key-num-8} - calc(#{$white-key-height} * 4));
      }
  
      .Gb {
        top: #{$base-cell-height};
        left: 0px;
      }
  
      .Eb {
        top: calc(#{$base-cell-height} * 4);
        left: 0px;
      }
  
      .Db {
        top: calc(#{$base-cell-height} * 6);
        left: 0px;
      }
    }
    /* 最低音域の E (最低音) */
    .octave:last-child .E {
      height: calc(#{$octave-height-key-num-8} - calc(#{$white-key-height} * 4));
    }
  }
}

/** オクターブ（鍵盤、グリッド共通） */
.octave {
  &.key-1 {
    height: #{$base-cell-height};
  }

  &.key-7 {
    height: #{$octave-height-key-num-7};
  }

  &.key-8 {
    height: #{$octave-height-key-num-8};
  }

  &.key-12 {
    height: #{$base-octave-height}
  }
}

/** グリッド */
.grid {
  width: 100%;
  border-spacing: 0;

  /* .grid 下の .octave 共通設定 */
  .octave {
    /* 最初のオクターブで最初の行の .note */
    &:first-child > .tone:first-child > .note {
      border-top: 2px solid #4682b4;
    }

    .tone {
      display: flex;
      height: #{$base-cell-height};

      .note {
        border-right: 1px solid #b0c4de;
        min-width: 30px;
        flex-grow: 1;
      }
    
      /* 最後の行の .note */
      &:last-child > .note {
        border-bottom: 2px solid #4682b4;
      }

      /* それ以外 */
      &:not(:last-child) > .note {
        border-bottom: 1px solid #b0c4de;
      }

      &.white > .note {
        &.active {
          background-color: #FCEDAA;
        }
      
        &.now {
          background-color: #eff7ff;
        }
      
        &.active.now {
          background-color: #FCF1D3;
        }
      }
      
      &.black > .note {
        background-color: #f5f5f5;
      
        &.active {
          background-color: #ECACB5;
        }
      
        &.now {
          background-color: #D5E0F1;
        }
      
        &.active.now {
          background-color: #F6D4D8;
        }
      }
    }
  }

  /** 拍子別設定 */
  &.two-four > .octave > .tone > .note {
    &:nth-child(even) {
      border-right: 1px solid #4682b4;
    }

    &:nth-child(4n) {
      border-right: 2px solid #4682b4;
    }
  }

  &.three-four > .octave > .tone > .note {
    &:nth-child(even) {
      border-right: 1px solid #4682b4;
    }

    &:nth-child(6n) {
      border-right: 2px solid #4682b4;
    }
  }

  &.four-four > .octave > .tone > .note {
    &:nth-child(even) {
      border-right: 1px solid #4682b4;
    }

    &:nth-child(8n) {
      border-right: 2px solid #4682b4;
    }
  }

  &.six-eight > .octave > .tone > .note {
    &:nth-child(3n) {
      border-right: 1px solid #4682b4;
    }

    &:nth-child(6n) {
      border-right: 2px solid #4682b4;
    }
  }
}